p{
    font-size: 1.5rem;
    line-height: 2;
}

h1 {
    font-size: 2.5rem;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /*Apila las secciones verticalmente wi :b*/
    align-items: center; /*Centra las secciones horizontalmente*/
}

.page-section {
    width: 210mm; /*Ancho de una hoja A4*/
    min-height: 297mm; /*Alto de una hoja A4 y min-height para que crezca si hay mas cosas*/

    margin: 30px auto;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /*efecto de elevacion*/
    box-sizing: border-box; /*asegura que el padding no aumente el ancho total*/
}

.titulo-centrado {
    text-align: center;
    color: white;
    margin-top: 0;
}

.cafe-calido {
    background-color: #A56F42;
}

.beige-estandar {
    background-color: #EED9C4;
}

.azul-pastel {
    background-color: #ADD8E6;
}

.imagen-left {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-right: 15px;
    vertical-align: top;
}

.imagen-completa {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.imagen-flex {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.contenedor-flex {
  display: flex;
  align-items: flex-start; /* Para alinear el texto arriba */
  gap: 15px;              /* Espacio entre imagen y texto */
  width: 95%;             /* Más ancho para mejor fluidez de texto */
  margin-left: auto; 
  margin-right: 10%;
}

.texto-flex {
  flex-grow: 1; /* Ocupa el espacio restante */
}

.texto-flex p {
  text-align: left;       /* Asegura la alineación a la izquierda */
  margin: 0;              /* Elimina el margen por defecto */
  line-height: 2;       /* ¡AQUÍ ESTÁ LA CLAVE PARA UNIR LAS LÍNEAS! */

}

.contenedor-flex2 {
  display: flex;
  align-items: flex-start; /* Para alinear el texto arriba */
  gap: 15px;              /* Espacio entre imagen y texto */
  width: 95%;             /* Más ancho para mejor fluidez de texto */
  margin-left: 5%; 
  margin-right: auto;
  flex-direction: row-reverse;
}

.texto-flex2 {
  flex-grow: 1; /* Ocupa el espacio restante */
}

.texto-flex2 p {
  text-align: left;       /* Asegura la alineación a la izquierda */
  margin: 0;              /* Elimina el margen por defecto */
  line-height: 2;       /* ¡AQUÍ ESTÁ LA CLAVE PARA UNIR LAS LÍNEAS! */

}